
@import "variables";
@import '~bootstrap/scss/bootstrap';

.blog-post .blog-body {
  font-size: 1.6rem;
  letter-spacing: 1.2;
}

.blog-post .blog-body p {
  margin-bottom: 2.6rem;
}

.blog-post .blog-body code {
  font-size: 1rem;
}

